/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px; /* Limiting maximum width */
  margin: 0 auto; /* Centering the layout horizontally */
}

.navbar {
  background-color: #71816d;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}

.navbar h1 {
  margin: 0;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li:first-child {
  margin-left: 0;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
}

.left-side {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #f1e0c5;
  max-height: 50rem;
  padding: 1.75rem;
}

/* about container */
.about-me-section h2 {
  text-align: center;
}

/* skills container  */
.skills-section {
  margin-top: 2rem;
}
.skills-section h2 {
  text-align: center;
}

.skill-dropdowns {
  display: flex;
  justify-content: space-evenly; /* To space the dropdowns evenly */
  margin-bottom: 2rem;
}

.frontend-skills,
.backend-skills {
  flex: 1; /* To make both dropdowns take equal width */
}


/* right side */

.right-side {
  flex: 0 0 30%; /* 30% width of the parent container */
  background-color: #c9b79c;
}

.name-and-profile img {
  border-radius: 50%;
  max-width: 10rem;
}


/* projects - carousel */

/* App.css */
.projects-carousel-section {
  margin-top: 20px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.project {
  flex: 0 0 300px; /* Adjust as needed */
  margin-right: 20px;
  scroll-snap-align: start;
}

.project-info {
  padding: 10px;
  background-color: #f9f9f9;
}

.project-image img {
  width: 100%;
  height: auto;
}


/* faq */

.faq-list {
  margin-top: 20px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.faq-item:hover {
  background-color: #f9f9f9;
}

.faq-item h3 {
  margin: 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-item.expanded .faq-answer {
  max-height: 100px; /* Adjust as needed */
}

.faq-list {
  max-height: 15rem; /* Adjust as needed */
  overflow-y: auto;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.toggle-icon svg {
  font-size: 1.2em;
}


/* footer */

.footer {
  background-color: #71816d;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}