/* App.css */

* {
  font-family: 'Mali', cursive;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px; 
  margin: 0 auto; 
}


.navbar {
  background-color: #71816d;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.navbar-brand h1 {
  font-size: 30px;

}


.navbar h1 {
  margin: 0;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li:first-child {
  margin-left: 0;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
}

.left-side {
  flex: 1;
  overflow-y: auto; 
  background-color: #f1e0c5;
  max-height: 80rem;
  padding: 1.75rem;
}

.left-side::-webkit-scrollbar {
  width: 5px;
}

.left-side::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.left-side::-webkit-scrollbar-thumb {
  background: #71816d;
  border-radius: 20px; 
}



/* about container */
.aboutContainer {
  border: 2px solid #c9b79c;
  border-radius: 10%;
  background-color: #c9b79c;
  padding: 1px;
}

.about-me-section {
  padding: 10px;
}

.about-me-section h2, p {
  text-align: center;
}

/* skills container  */
.skills-section {
  margin-top: 2rem;
  background-color: #c9b79c;
  border: 2px solid #c9b79c;
  border-radius: 10%;
}

.skills-section h2 {
  text-align: center;
}

.skill-dropdowns {
  display: flex;
  justify-content: space-evenly; 
  margin-bottom: 2rem;
}

.frontend-skills,
.backend-skills {
  flex: 1; 
  text-align: center;
}

select {
  width: 250px;
}

.pie-chart-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}



/* right side */

.right-side {
  flex: 0 0 30%; 
  background-color: #c9b79c;
}

.name-and-profile p {
  font-size: 15px;
}

.name-and-profile img {
  border-radius: 50%;
  max-width: 10rem;
  display: block;
  margin: auto;
}

.name-and-profile h2 {
  text-align: center;
}

/* social media icons */

.social-icons {
  text-align: center;
  margin-top: 1rem;
}

.social-icons a {
  margin-right: 1rem;
  color: #71816d;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.social-icons a:hover {
  transform: scale(1.2); /* Scale up the icon on hover for a zoom effect */
  color: #ff7f7f; /* Change the color on hover */
}

/* projects - carousel */

/* App.css */
.projects-carousel-section {
  align-items: center;
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px solid #71816d;
}

.projects-carousel-section h2 {
  text-align: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-info {
  padding: 10px;
  background-color: #f1e0c5;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.project-info img {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.project-buttons {
  display: flex;                    
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-buttons button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #71816d;
  background: #c9b79c;
}

.project-buttons a {
  margin-right: 1rem;
  margin-left: 1rem;
}

/* modal */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
 background-color: #fff;
 padding: 20px; 
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 max-width: 60%;
 max-height: 90%;
 overflow: auto;
}

iframe {
  width: 700px;
  height: 600px;
  border: none;
}

/* faq */

.faq {
  margin-top: 2rem;
  background-color: #c9b79c;
  border: 2px solid #c9b79c;
  border-radius: 15px;
}

.faq-heading {
  font-size: 1.25rem;
  text-align: center;
}

.faq-list {
  margin-top: 20px;
  max-height: 17rem;
  overflow-y: auto;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.faq-item:hover {
  background-color: #71816d;
  color: white;
}

.faq-item h3 {
  margin: 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-answer {
  font-size: 0.95rem;
  overflow-y: auto;
}


.faq-item.expanded .faq-answer {
  max-height: 100px;
}

.faq-question {
  font-size: 0.90rem;
}


.faq-answer::-webkit-scrollbar {
  width: 0;
}


.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.toggle-icon svg {
  font-size: 1.2em;
}

.faq-list::-webkit-scrollbar {
  width: 5px;
}

.faq-list::-webkit-scrollbar-track {
  background: #f1e0c5;
}

.faq-list::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px; 
}


/* contact */

.contact-me {
  border-top: 4px solid #71816d;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.contact-me h2 {
  text-align: center;
}

.contact-me p {
  margin: 0;
}

.work-status h2 {
  text-align: center;
  animation: flash 1s infinite;
  font-size: 20px;

}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.work-status h2 {
  margin-bottom: 2rem;
  color: rgb(233, 91, 91);
}


/* visit counter */

.visit-counter {
  text-align: center;
  font-size: 17px;
  color: white; 
  padding: 10px; 
  background-color: #71816d;
  border-radius: 8px;
  width: 250px;
  height: 60px;
  margin: 0 auto;
}

.visit-counter p {
  font-size: 15px;
}




/* footer */

.footer {
  background-color: #71816d;
  color: #fff;
  padding: 10px 20px;
}

.footer p {
  text-align: center;
}